<!-- create a form with headings for contains and string length post to endpoint /submit-form with form values-->
<!-- also send user_id > passed in as {{ user_id }}-->
<div>
    <form action="/submit-form" method="post">
        <h3>Contains</h3>
        <input type="text" name="contains" placeholder="contains">
        <h3>String Max Length</h3>
        <input type="text" name="max" placeholder="max"><span id="maxError" style="color:red;"></span>
        <h3>String Min Length</h3>
        <input type="text" name="min" placeholder="min"><span id="minError" style="color:red;"></span>
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="submit" value="Submit">
    </form>
</div>

<script>
    // submit form with fetch
    const form = document.querySelector('form');
    const maxError = document.getElementById('maxError');
    const minError = document.getElementById('minError');

    // https://chat.openai.com/share/98af1663-a37f-4626-8405-d3dcc889bd84
    // Function to validate min and max are numbers
    const validateMinMax = (min, max) => {
        let isValid = true;
        if(isNaN(min) || min.length == 0){
            minError.innerText = "Min must be a valid number";
            isValid = false;
        } else {
            minError.innerText = "";
        }

        if(isNaN(max) || max.length == 0){
            maxError.innerText = "Max must be a valid number";
            isValid = false;
        } else {
            maxError.innerText = "";
        }

        return isValid;
    }

    form.addEventListener('submit', e => {
        e.preventDefault();
        const formData = new FormData(form);
        // turn form into json
        const data = {};
        for (let [key, value] of formData.entries()) {
            data[key] = value;
        }
        
        // If min or max are not valid numbers, return and do not fetch
        if (!validateMinMax(data.min, data.max)) {
            return;
        }
        
        console.log(data);
        // post to endpoint
        fetch('/submit-form', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    });
</script>
